.toolbar {
    color: #5D6494 !important;
    background: #fff !important;
    .appLogo {
        margin-right: 0.5em;
    }

    .appTitle {
        font-weight: bold;
    }

    .logout{
        margin-left:700px;
        border-color: #5D6494 !important;
    }
}